* {
  margin:0;
  padding:0;
}

main{
  /* width: 100vh;
  height: 40px; */
  display: flex;
  justify-content: space-around;
}

.img-box {
  width: 120px;
  height: 120px;
  border:1px solid black;
  margin: 10px auto;
  display : flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

img{
  width:100px;
  height:100px;
}

.big-img-wrap {
  background-color: gray;
  position: absolute;
  height:100%;
  width:100%;
  display:none;
  justify-content: center;
  align-items: center;
}

/* .big-img-wrap > img {
  width: 500px;
  height: 500px;
} */